<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <link rel="stylesheet" href="/stylesheets/carrinho.css">
</head>
<body>

    <%- include("./partials/header") %>

    <section id="sec1">
        <div class="tituloEsq">
            <h2>DESCRIÇÃO</h2>
        </div>
        <div class="tituloDir">
            <ul>
                <li>QNTD</li>
                <li>VALOR</li>
                <li>SUBTOTAL</li>
                <li>EXCLUIR</li>
            </ul>
        </div>
    </section>
    <section id="sec2">
        <% if(carrinho && carrinho.length > 0 ){ %>
        <% carrinho.map(produto =>{ %>
        <div class="desc">
            <div class="imgDesc">
                <img src="/images/produtos/<%= produto.image1 %>" alt="" width="240px" height="240px">
            </div>
            <div class="descProd">
                <p><%= produto.nome %></p>
                <p>COR: <%= produto.cor %></p>
                <p>TAMANHO: pp</p>
            </div>
        </div>
        <div class="valores">
                <p>1 un</p>
                <p>R$<%= produto.preco %>,00</p>
                <p>R$<%= produto.preco %>,00</p>    
                <div><button class="trash"><i class="las la-trash"></i></button></div>          
            </div>
        </div>
        <% }) %>
        <% } %>
    </section>
    <section id="sec4">
        <div class="escProd">
            <div class="botaoEscolher">
                <button id="btn_escolher">
                   <a href="/">ESCOLHER MAIS PRODUTOS</a>
                </button>
            </div>
        </div>
         <div class="finalPedido">
            <% let valorTotal = 0 %>
            <% carrinho.map(produto => {%>
            <% valorTotal = produto.preco + valorTotal })%>
            <div class="totalPedido">
                <p class="totalPedidoValor">TOTAL DO PEDIDO</p>
                <p>R$ <%= valorTotal %>,00</p>
            </div>
            <div class="fecharPedido">
                <button id="finalizarCompra"><a href="/information">FECHAR PEDIDO</a><i class="las la-shopping-cart">
                </i></button>
            </div>
        </div>
    </section>


    <%- include("./partials/footer") %>

</body>
</html>